html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.olivetti-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("/img/ivrea-olivetti-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 90px;
  margin-right: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wrapper {
  color: white;
  min-height: 100%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

#page-title {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section p {
  font-size: 22px;
  flex: 1;
  margin: 0;
  text-align: justify;
}

.my-image {
  max-width: 100%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  align-self: flex-end;
}

#paragraph-2 {
  margin-top: 0;
  padding-top: 0;
}

.museo-info {
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.museo-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.museo-info p {
  font-size: 18px;
  font-style: italic;
}

.museo-info strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container {
    padding: 0 15px;
    max-width: 100%;
  }

  .my-image {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 15px;
    align-self: center;
  }

  #paragraph-1,
  #paragraph-2 {
    font-size: 22px;
    text-align: justify;
  }
  
  .navbar-nav {
    flex-wrap: nowrap;
  }

  .olivetti-icon {
    margin-left: 0;
    margin-right: 0;
  }
}