body {
  background-image: url("/img/background.png");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#content {
  color: white;
  font-size: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(241, 233, 6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  display: inline-block;
  position: relative;
}

p {
  font-size: 36px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.conclusione {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  font-size: 2vw;
  background-color: #596866;
}

.conclusione p {
  color: white;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
}

.custom-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/img/ivrea-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-icon {
  margin-left: 5px;
}

.navbar-toggler {
  order: -1;
  border: none;
}

.nav-link {
  position: sticky;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after,
.nav-link.clicked::after {
  width: 100%;
  background-color: yellow;
}

.nav-link:hover {
  width: 100%;
}

.nav-link:hover:not(.active)::after {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.6);
}

.nav-link:hover {
  opacity: 0.7;
}

.fade-in {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.img-right {
  float: right;
  margin: 0 0 10px 10px;
  width: 30%;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  max-width: 100%;
}

.img-left {
  float: left;
  margin: 0 10px 10px 0;
  width: 30%;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  max-width: 100%;
}

#container-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10;
  min-height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer {
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0%;
  padding: 1rem 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

@media (max-width: 992px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 30px;
  }

  #page-title{
    text-align: center;
    font-size: 38px;
  }

  .img-right,
  .img-left {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px;
    display: block;
    float: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }

  #page-title{
    text-align: center;
    font-size: 40px;
  }

  .img-right,
  .img-left {
    float: none;
    margin: 0 auto 10px;
    display: block;
    width: 100%;
    max-width: 300px;
  }

  .navbar-toggler {
    order: -1;
  }
}